section{
    margin-bottom: 100px;
}
.color-microsoft{
    color: #0067b8;
}
.bg-color-microsoft{
    background-color: #0067b8 !important;
    color: #fff !important;
}
#btt {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;

}

#btt:hover {
    background-color: #555;
}
.carousel-txt{

    top: 135px;
    left: 90px;
}
.carousel-txt-short{

    top: 363px;
    left: calc(10px + 0.1vw);
    right: calc(10px + 0.1vw);
}
.edge-pos{
    top: 100px;
}
.edge-pos-short{

    top: 380px;
    left: calc(10px + 0.1vw);
    right: calc(10px + 0.1vw);
}
.carousel-image{
    width: 100%;
    min-height: 400px;

}
.free-box{
    height: 200px;
}
.footer-costom{
    font-size: 12px !important;
}
.nav-font{
    font-size: 13px !important;
}
.footer-color{
    color: #616161;
}